html{
margin:15px;
}

body{
    max-width: 1000px;
    margin: auto;
    background: rgb(62, 19, 19,.2);
     overflow: hidden;
     
}

/* NOTE <---------------------MAIN----------------> */


section{
    display:flex;
    flex-direction: row;
}

div{

    border:1px solid black;
    width: 60px;
    height: 58px;

}
.mainTable{
display: flex;
flex-direction: column;
width:598px;
height:598px;
background-image: url("../images/snakes-and-ladders.png"); 
background-repeat: no-repeat;
background-size: cover;



}

/* NOTE  ---------------   dice -----------------> */
.rolePlayer2 ,.rolePlayer1{

    width: 30px;
    height: 30px;
}

.rolePlayer1:hover{

    width: 32px;
    height: 32px;
}
.rolePlayer2:hover{

    width: 32px;
    height: 32px;
}


/* NOTE ------------------------START----------- */
#start{
width: 150px;
height: 50px;
border: 2px solid black;
margin:15px 75px;
border-radius: 20px;
}

#start:hover{
color:black;
background-color: red;
}

#reset{
height: 70px;
width:70px;
border-radius: 40px;
display: flex;
margin-left: 110px;
margin-top: 40px;

}

/* NOTE <--Aside   form  --> */
.menueAside{

    float: right;
    width: 300px;
    height: 598px;
    background: blue;
    margin-left: 10px;
    border-radius: 20px 20px;
    }

.addPlayerButton{
    height: 20px;
    width: 50px;
    margin: 2px 2px 2px 2px;
   
}
.PlayerNameButton{
    height: 20px;
    width: 50px;
    margin: 2px 2px 2px 2px;
}
/* NOTE <------------------ ASIDE / Dice--------------------> */
.dice{
  
    width: 120px;
    padding: 10px;
    background: black;
    margin: 20px;
    margin: 50px 80px 10px 80px;
  
  }
  /* NOTE <-----------------------asid P--------------> */
P{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(255, 0, 0, 0.651);
    margin: 10px;
    border-style: inset;
    border-radius: 10px;
    background-color: aqua;
}
#namePlayer1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blueviolet;

}

h3{
    margin:  20px 0px 0px 10px;
}

